{% extends "base.html" %}
    {% block titulo %}Compra{% endblock %}

    {% block contenido %}
        <a href="/" class="titusecun">Inicio &nbsp;</a>
        <a class="titusecun"><u>Compra</u> &nbsp;</a>
        <a href="/status" class="titusecun">Estado</a>
        <h2 style="text-align: center;" class="secundarios">Compra de Criptos</h2>
            
        <form action="/purchase" method="post">
            <fieldset class="container">
            
            {{ form.hidden_tag() }}
            
            
                <div>
                    <label for="date" class="compras">Fecha</label>
                    <input type="text" name="date" readonly value="{{ form.date.data }}">
                </div>
                <div>
                    <label for="time" class="compras">Hora</label>
                    <input type="text" name="time" readonly value="{{ form.time.data }}">
                </div>       
                <div>
                    <label for="moneda_from" class="compras">Moneda From</label>
                    <input type="text" name="moneda_from" readonly value="{{ form.moneda_from.data }}">
                    {% for error in form.moneda_from.errors %}
                        
                    {% endfor %}  
                </div>
                <div>
                    <label for="cantidad_from" class="compras">Cantidad From</label>
                    <input type="text" name="cantidad_from" readonly value="{{ form.cantidad_from.data }}">
                    {% for error in form.cantidad_from.errors %}
                        
                    {% endfor %}  

                </div>
                <div>
                    <label for="moneda_to" class="compras">Moneda To</label>
                    <input type="text" name="moneda_to" readonly value="{{ form.moneda_to.data }}">
                    {% for error in form.moneda_to.errors %}
                        
                    {% endfor %}  
                </div>
                <div>
                    <label for="cantidad_to" class="compras">Cantidad To</label>
                    <input type="text" name="cantidad_to" readonly value="{{ form.cantidad_to }}"><br></br>
                </div>
                 
            </fieldset>
                <h3 for="monedero" class="secundarios">Monedero</h3><br>
                <div style="float: left;">
                    <label for="moneda2">ETH</label><input type="text"  style="width : 250px; height : 50px" name="ETH" value="{{ mon.moneda2 }}">    
                </div>
                <div style="float: left;">
                    <label for="moneda3">LTC</label><input type="text" style="width : 250px; height : 50px" name="LTC" value="{{ mon.moneda3 }}">
                </div>
                <div style="float: left;">
                    <label for="moneda4">BNB</label><input type="text" style="width : 250px; height : 50px" name="BNB" value="{{ mon.moneda4 }}">
                </div>
                <div style="float: left;">
                    <label for="moneda5">EOS</label><input type="text" style="width : 250px; height : 50px" name="EOS" value="{{ mon.moneda5 }}">
                </div>
                <div style="float: left;">
                    <label for="moneda6">XLM</label><input type="text" style="width : 250px; height : 50px" name="XLM" value="{{ mon.moneda6 }}">
                </div>
                <div style="float: left;">
                    <label for="moneda7">BTC</label><input type="text" style="width : 250px; height : 50px" name="BTC" value="{{ mon.moneda7 }}">
                </div>
                <div style="float: left;">
                    <label for="moneda8">XRP</label><input type="text" style="width : 250px; height : 50px" name="XRP" value="{{ mon.moneda8 }}">
                </div>
                <div style="float: left;">
                    <label for="moneda9">BCH</label><input type="text" style="width : 250px; height : 50px" name="BCH" value="{{ mon.moneda9 }}">
                </div>
                <div style="float: left;">
                    <label for="moneda10">USDT</label><input type="text" style="width : 250px; height : 50px" name="USDT" value="{{ mon.moneda10 }}">  
                </div>
                <div style="float: left;">
                    <label for="moneda11">BSV</label><input type="text" style="width : 250px; height : 50px" name="BSV" value="{{ mon.moneda11 }}">
                </div>
                <div style="float: left;">
                    <label for="moneda12">ADA</label><input type="text" style="width : 250px; height : 50px" name="ADA" value="{{ mon.moneda12 }}">
                </div>
                <div style="float: left;">
                    <label for="moneda13">TRX</label><input type="text" style="width : 250px; height : 50px" name="TRX" value="{{ mon.moneda13 }}">
                </div><br></br>
                
            <input type="submit" name="submit" value="Aceptar">
            <input type="submit" name="calculadora" value="Calculadora"> 
        </form>  

    {% endblock %}