{% extends "base.html" %}
    {% block titulo %}Inicio{% endblock %}

    {% block contenido %}
        <a class="titusecun"><u>Inicio</u> &nbsp;</a>
        <a href="/purchase" class="titusecun">Compra &nbsp;</a>
        <a href="/status" class="titusecun">Estado</a>
        <h2 style="text-align: center;" class="secundarios">Movimientos</h2>
        <table>
            <tr>
                <th class="movimientos">Fecha</th>
                <th class="movimientos">Hora</th>
                <th class="movimientos">Tipo de moneda(From)</th>
                <th class="movimientos">Cantidad(From)</th>
                <th class="movimientos">Tipo de moneda(To)</th>
                <th class="movimientos">Cantidad(To)</th>
            
            </tr>
           {% for movimiento in datos %}
           <tr>
                <td>{{ movimiento.date }}</td>
                <td>{{ movimiento.time }}</td>
                <td>{{ movimiento.moneda_from }}</td>
                <td>{{ movimiento.cantidad_from }}</td>
                <td>{{ movimiento.moneda_to }}</td>
                <td>{{ movimiento.cantidad_to }}</td>
                

           </tr>
           {% endfor %}
        </table>
       
    {% endblock %}