{% extends "base.html" %}
    {% block titulo %}Inicio{% endblock %}

    {% block contenido %}
        <a href="/" class="titusecun">Inicio &nbsp;</a>
        <a href="/purchase" class="titusecun">Compra &nbsp;</a>
        <a class="titusecun"><u>Estado</u> &nbsp;</a>
        <h2 style="text-align: center;" class="secundarios">Estado de la inversión</h2><br></br>

        <form action="/status" method="get">
            <div>
                <label for="invertido" class="status">Cantidad Invertida 'EUR'</label><br></br>
                <input  disabled type="text" name="invertido" class="invertido" value="{{ sta.invertido }}"><br></br>
                
            </div><br></br>
            <div>
                <label for="valoractual" class="status">Valor Actual 'EUR'</label><br></br>
                <input disabled type="text" name="valoractual" class="invertido" value="{{ sta.valoractual }}"><br></br>
                
            </div>
            
        </form>
        
        
    {% endblock %}