.principal{
    font-weight: bold;
    text-align: left;
    background-color:rgb(231, 223, 223);
    
}

.msg-err {
    font-size: 0.8em;
    color: darkred;
    font-weight: bold;
    margin-left: 105px;
}

.popup {
    background-color: floralwhite;
    text-align: center;
    font-weight: bold;
    color: darkred;
    font-size: x-large;
   }

.status {
    font-size: x-large;
    color: palevioletred;
    text-shadow: 7px 4px 5px lightpink;
}

.invertido {
    font-size: x-large;
    font-weight: bold;
    
}

.movimientos {
    font-weight: bold;
    color: palevioletred;
    text-shadow: 7px 4px 5px lightpink;
}

.compras{
    font-weight: bold;
    color: palevioletred;
    text-shadow: 7px 4px 5px lightpink;

}

.boton {
    color: blue;
}

.secundarios {
    font-weight: bold;
    color: purple;
    text-shadow: 7px 4px 5px palevioletred;
}

.titusecun {
    font-size: x-large
}

.negrita {
    color: black;
    text-shadow: 7px 4px 5px gray;
}